<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">ViewDocument</ui:define>
		<ui:define name="content">
			<h:form id="form">
				<h4>#{ivy.case.getId()}</h4>
				<h4>#{data.service.documentPath}</h4>
				<p:media value="#{data.service.documentPath}" width="100%" height="600px">
				    Your browser can't display pdf, <h:outputLink value="#{data.service.documentPath}">click</h:outputLink> to download pdf instead.
				</p:media>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>