<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
<ui:composition template="/layouts/basic.xhtml">
<ui:define name="title">CreateDocument</ui:define>
<ui:define name="content">
<style>
table tr > td{
	padding: 5px;
}

.ui-radiobutton{
	margin: 0 7px 0 0 !important;
}

.btn{
    color: #fff !important;
    margin-right:15px;
}

#form\:file{
	padding-top:18px
}
</style>
	<h:form id="form" enctype="multipart/form-data">
		<h:panelGrid columns="3">
			<f:facet name="header">
				<p:messages></p:messages>
			</f:facet>
			
			<p:outputLabel for="name" value="Please type your name"/>
			<p:inputText id="name" value="#{data.service.name}"/>
			<p:commandButton styleClass="btn btn-success" actionListener="#{logic.createPdfForm()}" value="Create Document"/>
		</h:panelGrid>
	</h:form>
	
</ui:define>
</ui:composition>
</h:body>
</html>