<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Basic Binding Word</ui:define>
		<ui:define name="content">
		<style>
		table tr > td{
			padding: 5px;
		}
		
		.ui-radiobutton{
			margin: 0 7px 0 0 !important;
		}
		
		.btn{
		    color: #fff !important;
		    margin-right:15px;
		}
		
		#form\:file{
			padding-top:18px
		}
		</style>
			<h:form id="form" enctype="multipart/form-data">
				<h:panelGrid columns="3">
					<f:facet name="header">
						<p:messages></p:messages>
					</f:facet>
					
					<p:outputLabel for="name" value="Name"/>
					<p:inputText id="name" value="#{data.service.name}"/>
					<h:outputText/>
					
					<p:outputLabel for="file" value="Image"/>
					<p:fileUpload id="file" auto="true" fileUploadListener="#{logic.fileUpload}" mode="advanced" update="fileName"/>
					<h:outputText id="fileName" value="#{data.service.imageName}"/>
					
					<p:outputLabel for="date" value="Date"/>
					<p:calendar id="date" value="#{data.service.date}" pattern="dd/MM/yyyy" autocomplete="off"/>
					<h:outputText/>
					
					<p:outputLabel for="memberType" value="Member Type"/>
			        <p:selectOneRadio id="memberType" value="#{data.service.memberType}">
			            <f:selectItem itemLabel="Dust in the wind" itemValue="1" />
			            <f:selectItem itemLabel="Gold" itemValue="2" />
			        </p:selectOneRadio>
			        <h:outputText/>
				</h:panelGrid>
				
				<br/><br/>
				<h4>Expectation list</h4>
				<br/>
				<h:panelGrid columns="2">
					<p:inputText value="#{data.service.newExpectation}"/>
					<p:commandButton action="#{logic.addNewExpectation()}" value="Add new" update="expectTable"/>
				</h:panelGrid>
				<br/>
				<p:dataTable id="expectTable" var="item" value="#{data.service.expectations}" rowIndexVar="index" style="width:500px">
					<p:column headerText="#" style="width:50px;text-align:center">
				        <h:outputText value="#{index + 1}" />
				    </p:column>
					
					<p:column headerText="Content">
				        <h:outputText value="#{item}" />
				    </p:column>
				</p:dataTable>
				<br/>
				
				<br/><br/><br/><br/>
				
				<p:commandLink styleClass="btn btn-primary" actionListener="#{logic.download()}" value="Download word" ajax="false" target="_blank" />
				<p:commandLink styleClass="btn btn-primary" actionListener="#{logic.downloadMultiFile()}" value="Download Full Word support" ajax="false" target="_blank" />
				<p:commandLink styleClass="btn btn-warning" onclick="PF('pptInputDialog').show()" value="Download PowerPoint" />
				<p:commandLink styleClass="btn btn-success" actionListener="#{logic.downloadExcel()}" value="Download Excel" ajax="false" target="_blank" />
				<p:commandLink styleClass="btn btn-success" actionListener="#{logic.downloadExcelFromStream()}" value="Download Excel From Stream" ajax="false" target="_blank" />
				
			</h:form>
			
			<p:dialog id="pptInputDialog" widgetVar="pptInputDialog" closable="true" dynamic="true" header="Create power point input" height="300px" width="600px" resizable="false">
				<h:form id="pptInputDialogForm">
					<h:panelGrid columns="2" width="500">
						<p:outputLabel for="title" value="Slide Title"/>
						<p:inputText id="title" value="#{data.service.slideTitle}" style="width:300px"/>
						
						<p:outputLabel for="numberOfSlide" value="Number of slide"/>
						<p:inputText id="numberOfSlide" value="#{data.service.numberOfSlide}" />
					</h:panelGrid>
					
					<p:commandButton value="Download" action="#{logic.downloadPowerPoint()}" ajax="false" style="float:right"/>
				</h:form>
			</p:dialog>
		</ui:define>
	</ui:composition>
</h:body>
</html>